<h1>Newspapers</h1>

<%= link_to "Create a NewsPaper", new_newspaper_path %>
<ul>
  <% @newspaper.each do |newspaper| %>
    <li><%= link_to newspaper.name, newspaper_path(newspaper) %></li>
    <% end %>
</ul>

<p> Select a NewsPaper to Read. </p>





